html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

#header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

#body-main {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

#body-left {
  background-color: #e02323;
}

#body-right {
  background-color: #23ad35;
}
