html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #17191c;
  color: #d2d4d8;
}

#root {
  height: 100%;
}


.main-content {
  flex: 1;
  padding: 1rem;

}

#chart-wrapper {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  margin-top: 10px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chart {
  width: 40%;
  margin-right: 20px;
  border-color: #d2d4d8;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.info-card {
  background-color: #23252a;
  border-radius: 5px;
  padding: 5px;
  width: 30%;
}

#card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

#turbine-capacity-title {
  text-align: center;
}

#map {
  height: 100%;
}

#map-wrapper {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

h2 {
  color: #676d7a;
}

.small-info-card {
  display: flex;
  justify-content: space-between;
  background-color: #23252a;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  min-width: 250px;
}

.small-info-card-text-wrapper {
  display: flex;
  flex-direction: column;
}

.small-info-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: x-large;
  color: #4a5ecb;
  background-color: #17191c;
  margin-left: 20px;
  border-radius: 50px;
  padding: 10px;
  height: 22px;
  width: 22px;
}

.small-info-card-value {
  font-size: 1.5em;
  margin: 0;
}

.small-info-card-text {
  font-size: 0.8em;
  color: #676d7a;
  margin: 0;
}

.sidebar {
  width: 240px;
  background: #23252a;
  padding: 1rem;
  border-right: 1px solid #d2d4d8;
}
 

.layout {
  display: flex;
  min-height: 100vh; 
  min-width: 100%;
}

.sidebar-header {
  display: flex;
  margin-bottom: 1rem;
}

.siderbar-title-text {
  margin: 0;
}

#sidebar-icon {
  color: #4a5ecb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.add-turbine-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.add-turbine-form__label {
  margin-bottom: 5px;
}

.required-field::after {
  content: "*";
  color: red;
}

.turbine-form-error-msg {
  color: red;
  font-size: 0.8em;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  max-width: fit-content;
  margin-left: 5px;
}