html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

#header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

#body-main {
  /* display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". ."; */
  display: flex;
  justify-content: flex-start;
}

#body-left {
  background-color: #7272FF;
  display: flex;

}

#body-right {
  background-color: #B2BEB5;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */

  width: 100%;
}

#chart-wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100%; */
  padding-bottom: 20px;
}

.chart-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

#chart {
  width: 50%;
  height: 50%;
}
